[submodule "dokuwiki/data/media/pub/002"]
	path = dokuwiki/data/media/pub/002
	url = ../analitika_002.git
[submodule "dokuwiki/data/media/pub/kazak.by"]
	path = dokuwiki/data/media/pub/kazak.by
	url = ../analitika_kazak.by.git
